.products-container {
  width: 100vw;
  background-color: #F9F8FE !important;
  display: flex;
}

.layout {
  margin: 40px auto;
  width: 100%;

  & h4 {
    color: var(--dark-gray-2);
    font-weight: bold;
  }
  & button {
    border: none;
    color: var(--primary);
    background-color: #F9F8FE !important;
    font-size: 1.3rem;

    & .right-arrow {
      margin-left: 10px;
      width: 30px;
      margin-bottom: 4px;
      color: red !important;
    }
  }
}

.products-cont-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
