.card-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 400px;
    box-sizing: border-box;
    margin-top: 20px;
    
}



.card-product-top {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 16px 30px 0px #6962620D;
    width: 100%;
    height: 70%;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    & img {
        width: 70%;
    }
}

.card-product-top:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}

.card-product-top > span{
    position: absolute;
    background-color: #E7FF86;
    border-radius: 25px;
    color: black;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

.card-product-bot{
    width: 100%;
    height: 30%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-product-bot>span:nth-child(1){
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 700;

}

.card-product-bot>span:nth-child(2){
    color:#474747;
    font-size: 24px;
    font-weight: 400;
}

.card-product-bot>span:nth-child(3){
    color:#1F1F1F;
    font-size: 24px;
    font-weight: 700;
}

.card-product-bot> span:nth-child(3) > span{
    text-decoration: line-through;
    color: #8F8F8F;
    font-weight: 300;
    margin-right: 8px;
}